############
# Git Ignore
############
*.swp
*.zip
*.dot
*.dot-input
*.gif
*html*
*.mwb.bak
Python/properties/*
Python/__pycache__/*
Python/.idea
Python/Test.py
Python/lib/__pycache__/*
Python/sqlite3.exe
